<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>

    <div style="background-color: red">

        {{#each users}}
            <div>FIRSTNAME: {{this.firstName}}</div>
            <div>LASTNAME:{{this.lastName}}</div>
            <div>EMAIL:{{this.email}}</div>
            <div> PASSWORD:{{this.password}}</div>
            <div>AGE:{{this.age}}</div>
            <div>CITY:{{this.city}}</div>
            <hr>
        {{/each}}

    </div>
    <h1>ВИБЕРІТЬ ХАРАКТЕПИСТИКИ ЗА ЯКИМИ ФІДЬТРУВАТИ</h1>

</div>
</body>
</html>